# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = OctopusET
	email = sjmoon2001@gmail.com
	signingkey = sjmoon2001@gmail.com
[core]
	editor = vim
